
body {
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(145deg, #0f2027, #203a43, #2c5364); /* 深色漸層 */

}
.calculator {
  position: absolute;
  top: 157px;
  left: 498px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
 
}